html {
  scroll-behavior: smooth;
}

body {
    margin: auto;
    text-align: center;
}

.jumbotron {
    background-color: white;
   margin-top: -40px;

}

.pink {
    background-color: lavenderblush;
}

.yellow {
    background-color: yellow;
}